<div class="row">
    <nb-card class="filtre col">
        <nb-card-header>
            <h4>Filtres</h4>
        </nb-card-header>
        <nb-card-body>
            <input type="text" nbInput fullWidth placeholder="Last Name">
            <input type="text" nbInput fullWidth placeholder="Last Name">
            <input type="text" nbInput fullWidth placeholder="Last Name">
            <input type="text" nbInput fullWidth placeholder="Last Name">
        </nb-card-body>
        <nb-card-footer>

        </nb-card-footer>
    </nb-card>
    <div class="device__wrapper">
        <div class="device__card">
            <h3>Device-01</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, sint optio voluptatum quas nobis
                velit, in amet quasi repellendus dicta itaque quam nisi, illum beatae!</p>
            <div class="car__action_btns">
                <button nbButton size="small" status="primary">
                    <nb-icon icon="eye-outline"></nb-icon>
                </button>
                <button nbButton size="small" status="success">
                    <nb-icon icon="download-outline"></nb-icon>
                </button>
                <button nbButton size="small" status="danger">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                </button>
                <!-- <span style="float:right">
                    <nb-icon icon="person-outline"></nb-icon> {{v.user?.username}}
                </span> -->
            </div>

        </div>
        <div class="device__card">
            <h3>Device-02</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, sint optio voluptatum quas nobis
                velit, in amet quasi repellendus dicta itaque quam nisi, illum beatae!</p>

        </div>
        <div class="device__card">
            <h3>Device-03</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, sint optio voluptatum quas nobis
                velit, in amet quasi repellendus dicta itaque quam nisi, illum beatae!</p>
        </div>
    </div>
</div>